{% extends "base.html" %}

{% load static %}

{% block content %}
<div>
    <h2>My profile</h2>
    <form method="post">
        {% csrf_token %}

        <div>
            {{ form.username }}
            {{ form.username.errors }}
        </div>

        <div>
            {{ form.first_name }}
            {{ form.first_name.errors }}
        </div>

        <div>
            {{ form.last_name }}
            {{ form.last_name.errors }}
        </div>

        <div>
            {{ form.email }}
            {{ form.email.errors }}
        </div>

        <button type="submit">Update Profile</button>
    </form>
</div>
{% endblock %}