{% extends "base.html" %}

{% load static %}

<title>Units</title>

{% block extra_css %}
<link rel="stylesheet" href="{% static 'properties/css/unit_list.css' %}">
{% endblock %}

{% block content %}
<div class="container">

    <!-- Header -->
    <div class="page-header">
        <h2>Units in {{ apartment.name }}</h2>

        <form method="get" class="search-form">
            <input 
                type="text"
                id="unit-search"
                name="q"
                placeholder="Search unit number, tenant name..."
                value="{{ query }}"
                class="search-input"
                autocomplete="off"
            >
            <button type="submit" class="btn-search">Search</button>
        </form>

        {% if user.is_landlord %}
        <a href="{% url 'unit_create' apartment.id %}">Add Unit</a>
        {% endif %}
    </div>

    <!-- Units -->
    <div class="units-grid" id="units-grid">
        {% include 'properties/partials/unit_cards.html' %}
    </div>
</div>

<script>
    const searchInput = document.querySelector('.search-input');
    const unitsGrid = document.getElementById('units-grid');

    let timeout = null;

    searchInput.addEventListener('keyup', function () {
        clearTimeout(timeout);

        timeout = setTimeout(() => {
            const query = searchInput.value;

            fetch(`?q=${encodeURIComponent(query)}&ajax=1`)
            .then(response => response.text())
            .then(html => {
                unitsGrid.innerHTML = html;
            });
        }, 300);

    });
</script>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
