<h1>Caretaker Dashboard</h1>
<form method="post" action="{% url 'logout' %}">
  {% csrf_token %}
  <button type="submit">Logout</button>
</form>

<h2>Assigned Apartment</h2>

<ul>
  {% for apartment in apartments %}
  <li>
    <strong>{{ apartment.name }}</strong><br />
    Location: {{ apartment.location }}
    <a href="{% url 'apartment_units' apartment.id %}"> View Units </a>
  </li>
  {% empty %}
  <li>No apartments assigned to you.</li>
  {% endfor %}
</ul>

<h2>Unpaid Tenants (Current Month)</h2>

<ul>
  {% for record in unpaid_rent_records %}
  <li>
    <strong>{{ record.tenancy.tenant.full_name }}</strong><br>
    Apartment: {{ record.tenancy.unit.apartment.name }} |
    Unit: {{ record.tenancy.unit.unit_number }} <br>
    Balance: {{ record.balance }}
    <a href="{% url 'rent_record_list' record.tenancy.id %}">
      View Rent Records
    </a>
  </li>
  {% empty %}
  <li>All tenants are fully paid</li>
  {% endfor %}
</ul>
